.productos{
        width: 90%;
    max-width: 1250px;
        margin: auto;
    padding: 40px 0;
    border-radius: 5%;
    background-color: white;

    display: grid;
    grid-template-columns: 3fr 3fr 3fr;

}
.titulos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.producto{
    width: 70%;
    gap: 25px;

}
.cord{
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    width: calc(33.33 - 20px);
}