{% extends 'Tienda/base.html' %}


{% block contenido %}
<div id="central">


    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
    
      <div class="carousel-inner">
          {% load static %}
        <div class="carousel-item active">
          <img src="{% static 'Tienda/img/active2.jpg'%}" class="d-block w-100" alt="..." id="picture">
          <div class="carousel-caption d-none d-md-block">
            <a href="#"  id="div-btn5" class="activee" ><h5>Sobre Nosotros</h5></a>
          </div>
        </div>
    
        <div class="carousel-item">
          {% load static %}
          <img src="{% static 'Tienda/img/tienda1.jpg'%}" class="d-block w-100" alt="..." id="picture">
          <div class="carousel-caption d-none d-md-block">
            <a href="#"  id="div-btn6" class="activee"><h5>Conoce Nuestra Tienda</h5></a>
          </div>
        </div>
    
        <div class="carousel-item">
          {% load static %}
          <img src="{% static 'Tienda/img/img3.jpg'%}" class="d-block w-100" alt="..." id="picture" >
          <div class="carousel-caption d-none d-md-block">
            <a href="#"  id="div-btn7" class="activee"><h5>Dona a refugios de animales</h5></a>
          </div>
        </div>
    
        <div class="carousel-item">
          {% load static %}
          <img src="{% static 'Tienda/img/img2.jpg'%}" class="d-block w-100" alt="..." id="picture">
          <div class="carousel-caption d-none d-md-block">
            <a href="#"  id="div-btn8" class="activee"><h5>Contactanos</h5></a>
          </div>
        </div>
        
      </div>
    
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  <!--CUADRADO DE COLOR QUIENES SOMOS TIEMPO CALIDAD-->
  
      <div class="container " >
        <h2 class="text-center lh-lg">POR QUE NOSOTROS?</h2>
                <div class=" row d-flex justify-content-between"> 
                    <div class="col-12 col-lg-3" id="cuadrado">
                      <i class="fa-solid fa-clock  fa-10x"></i>
                      
                      <h3 class=""> LOS MAS RAPIDOS DEL MERCADO</h3>
                    </div>
  
                    <div class="col-12 col-lg-3" id="cuadrado">
                      <i class="fa-solid fa-sack-dollar fa-10x"></i>
                      <h3 class="">PRECIOS DEMASIADO BAJOS </h3>
  
                    </div>
  
                    <div class="col-12 col-lg-3" id="cuadrado">
                      <i class="fa-solid fa-headset fa-10x"></i>
                      <h3 class="">ATENCION 24HR Y REMBOLSO 100%</h3>
  
                    </div>
                </div>
  
      </div>
  
  <!---IMAGENES EN COLUMNAS Y FILA-->
  
  <div class="container border ">
  <h2 class="text-center lh-lg">DIFERENTES PRODUCTOS PARA TU MASCOTA</h2>
  <div class="row d-flex bd-highlight mb-3 ">
  
    <div class=" col-12 col-lg-6">
  
               <div class="card  h-auto w-auto" >
                  {% load static %}
                 <img src="{% static 'Tienda/img/ropa1.jpg'%}" class="card-img-top h-auto" alt="..." >
               <div class="card-body">
                 <p class="card-text"> Lorem Lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis ad sequi officia inventore similique veritatis. Labore asperiores suscipit voluptatum ad, voluptates nesciunt. Ipsam labore qui, provident laborum odio incidunt iure? Lorem ipsum dolor sit amet consectetur adipisicing elit. Est soluta accusamus esse dolores assumenda pariatur, corporis tempore aspernatur, architecto 
                   </p><a href="#"  id="div-btn9" class="activeee" >Comprar</a> 
               </div>
               </div>
  </div>
  
  <div class="col-12 col-lg-6"> 
  
    <div class="row" >
      <div class=" col-12 col-lg-6 border" id="marigin">
        
            <div class="card h-auto w-auto " >
              {% load static %}
               <img src="{% static 'Tienda/img/accesorio1.jpg'%}" class="card-img-top" alt="...">
             <div class="card-body">
               <p class="card-text">Some quick example text to build on </p>
               <a href="#"  id="div-btn10" class="activeee" >Comprar</a> 
            </div>
           </div>
      </div>
  
  
      <div class="col-12 col-lg-6 border " id="marigin">
  
           <div class="card h-auto w-auto " >
              {% load static %}
               <img src="{% static 'Tienda/img/juguetes1.jpg'%}" class="card-img-top" alt="...">
           <div class="card-body">
               <p class="card-text">Some quick example text to build on </p>
               <a href="#"  id="div-btn11" class="activeee" >Comprar</a> 
           </div>
           </div>
      </div>
  
      <div class="col-12 col-lg-6 border" id="marigin">
  
        <div class="card  h-auto w-auto ">
          {% load static %}
          <img src="{% static 'Tienda/img/comida1.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text</p>
          <a href="#"  id="div-btn12" class="activeee" >Comprar</a>
       </div>
      </div>
      </div>
  
      <div class="col-12 col-lg-6 border" id="marigin">
  
        <div class="card  h-auto w-auto ">
          {% load static %}
          <img src="{% static 'Tienda/img/comida1.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text</p>
          <a href="#"  id="div-btn13" class="activeee" >Comprar</a> 
       </div>
      </div>
      </div>
  
  
    </div>
  </div>
  </div>
  </div>
  
  <!--  OPINIONES 3 FOTOS-->
  <div> 
  
      <div class="container-fluir" id="comen">
          <div class="container">
            <h2 class="wqw text-center " id="compa">AYUDANOS APORTES A REFUGIOS</h2>
        <div class="row">
            <div class="col-12 " id="cua">
                            <div class="card-group">
                                <div class="card">
                                  {% load static %}
                                  <img src="{% static 'Tienda/img/refugio1.jpg'%}" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                                <div class="card">
                                  {% load static %}
                                  <img src="{% static 'Tienda/img/refugio2.jpg'%}" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                                <div class="card">
                                  {% load static %}
                                  <img src="{% static 'Tienda/img/refugio3.jpg'%}" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  <!-- FOTO GRANDE CON TEXTO Y BOTOM  -->
  
  
  <div class="d-flex justify-content-center align-items-center" style="background-image: url(img/perro2.jpg);height:600px;"> 
  <div class="row "> 
  
      <div class="col-1"></div>
  
      <div class="col-4 text-left">
        <div class="row">
          <div class="col-12"> <h1 class="display-1 " id="titulo">Ayuda a sonreir a un callejero</h1></div>
          <div class="col-12"><p class="fs-3">Ayudanos a brindar comida y alimentos a los perros sin hogar has click en el boton</p> 
          </div>
          <div class="col-12"><a href="#"  id="div-btn14" class="activeee" ><button type="button" class="btn btn-danger">DONAR</button></a> </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- CUADRADO CON IMAGEN Y TEXTO A LA DERECHA-->
  
  <div class="container">
  <div class="card mb-3" style="max-width: auto;">
    <div class="row g-0">
      <div class="col-md-6">
          {% load static %}
        <img src="{% static 'Tienda/img/perro.jpg'%}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div class="card-body">
          <h5 class="card-title">Paco y su nueva correa gucci</h5>
          <p class="card-text">nuestra nueva linea de correas para perro no te quedes sin la tuya</p>
  
            <a href="#"  id="div-btn15" class="activee" ><button type="button" class="btn btn-lg btn-primary">COMPRAR</button></a>
         
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <!--SECCION CONTACTO CON BOTON PARA LA PAGINA DE FORMURALIO  -->
  <div class="aaa container-fluir">
  <div class="row">
  <div class="rrr col-12 text-center">CONTACTANOS</div>
  <div class="et_pb_row et_pb_row_13 ">
  <div class="container  d-flex justify-content-center">
    <a href="#"  id="div-btn16" class="activee" ><button type="button" class="qqq btn btn-primary btn-lg">Charlemos</button></a>
    </div>
  </div>
  </div>
  </div>
  
  
  
  
  
  
  </div>
  {% endblock %}