{% extends 'Tienda/base.html' %}

{% block contenido %}
{% load static %}

<link rel="stylesheet" href="{% static '/Tienda/css/estiloos.css'%}">
{% load humanize %}
<h2 class="titulos text-center font-weight-bold ">Productos</h2>
<br>
<br>

<div class="productos bg-white ">
    {% for p in productos %}
    <div class="producto  m-5 ">
        <div class="cord">
        <h2 class="titulos">{{p.nombre | title}}</h2>
        {% if p.imagen%}
        <img src="{{p.imagen.url}}" alt="">
        {% endif %}
        <div>
            <h5 class="titulos">{{p.marca | capfirst}}</h5>
            <h6 class="titulos">{{ p.descripcion | capfirst }}</h6>
            <h4>${{p.precio |intcomma}}</h4>
            <button class="btn btn-primary" type="submit">Agregar a carrito</button>
        </div>
        </div>
    </div>
    
    {% endfor %}
</div>
<br>
<br>



{% endblock %}

